<div>
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 0)">{{data[0][0]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 1)">{{data[0][1]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 2)">{{data[0][2]}}</button> 
  </div>
  <div>
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 3)">{{data[1][0]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 4)">{{data[1][1]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 5)">{{data[1][2]}}</button> 
  </div>
  <div>
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 6)">{{data[2][0]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 7)">{{data[2][1]}}</button> 
    <button style="height:50px;width:50px" [disabled]="!active" (click)="clicked($event , 8)">{{data[2][2]}}</button> 
  </div>
  